<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>教师管理学生名单</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}"/>
</head>
<body align="center" class="back1">
<table border="0" class="table1" align="center" cellspacing="15px">
    <h3 align="center">学生名单</h3>
    <tr class="tr">
        <th class="th">学生学号</th>
        <th class="th">学生姓名</th>
        <th width="80px" class="th"></th>
    </tr>
    <tr th:each="user : ${students}" class="tr">
        <td th:text="${user.stuid}" class="td"></td>
        <td th:text="${user.stuname}" class="td"></td>
        <td class="td">
            <a  th:href="@{'/updatestudent/'+${user.stuid}}" >更改</a>
            <a th:href="@{'/deletestudent/'+${user.stuid}}">删除</a>
        </td>
    </tr>
</table>
<a href="/addstu" style="margin-top: 30px">
    <button type="button" class="button">添加学生</button>
</a>
</body>
</html>
